<a href="https://colab.research.google.com/github/Devendra1patel/Datascience_colab_code/blob/main/pandas_notes_from_w3resourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Data Cleaning and Preprocessing**

In [47]:
# 7. Write a Pandas program to bin data into categories.

import pandas as pd

# Create a sample DataFrame with continuous values
df = pd.DataFrame({
    'Age': [25, 30, 22, 45, 35, 28, 40]
})

# Bin ages into categories: 'Young', 'Middle-aged', 'Old'
bins = [0, 25, 35, 100]
labels = ['Young', 'Middle-aged', 'Old']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels)

# Output the result
print(df)

   Age    Age_Group
0   25        Young
1   30  Middle-aged
2   22        Young
3   45          Old
4   35  Middle-aged
5   28  Middle-aged
6   40          Old

In [48]:
# 8. Write a Pandas program that handles text data with str.replace().
import pandas as pd

# Create a sample DataFrame with messy text
df = pd.DataFrame({
    'Product': ['$50-Discount', '$100-Off', '$200-Rebate']
})

# Clean the text by removing special characters like '$' and '-'
df['Product_Cleaned'] = df['Product'].str.replace('[$-]', '', regex=True)

# Output the result
print(df)

        Product Product_Cleaned
0  $50-Discount      50Discount
1      $100-Off          100Off
2   $200-Rebate       200Rebate

In [49]:
# 9. Write a Pandas program to convert data types using astype().

df = pd.DataFrame({
    'ID': ['1', '2', '3'],
    'Price': ['10.5', '20.0', '30.5']
})

# Convert 'ID' to integer and 'Price' to float
df['ID'] = df['ID'].astype(int)
df['Price'] = df['Price'].astype(float)

# Output the result
print(df)

   ID  Price
0   1   10.5
1   2   20.0
2   3   30.5

In [50]:
# 10. Write a Pandas program to remove leading and trailing whitespace using str.strip().
import pandas as pd

# Create a sample DataFrame with extra whitespace
df = pd.DataFrame({
    'Name': [' Artair ', ' Pompiliu ', ' Gerry ']
})

# Remove leading and trailing whitespace
df['Name_Cleaned'] = df['Name'].str.strip()

# Output the result
print(df)

         Name Name_Cleaned
0     Artair        Artair
1   Pompiliu      Pompiliu
2      Gerry         Gerry

In [51]:
# 11. Write a Pandas program to change column names to lowercase.
import pandas as pd

# Create a sample DataFrame with uppercase column names
df = pd.DataFrame({
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, 30, 22],
    'Salary': [50000, 60000, 70000]
})

# Convert all column names to lowercase
df.columns = df.columns.str.lower()

# Output the result
print(df)

      name  age  salary
0   Selena   25   50000
1  Annabel   30   60000
2    Caeso   22   70000

In [52]:
# 12. Write a Pandas program to replacing missing data with mean value.
import pandas as pd

# Create a sample DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Selena', 'Annabel', 'Caeso', 'David'],
    'Age': [25, None, 22, None]
})

# Fill missing 'Age' values with the column's mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Output the result
print(df)

      Name   Age
0   Selena  25.0
1  Annabel  23.5
2    Caeso  22.0
3    David  23.5

<ipython-input-52-d961f3e8eb59>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [53]:
# 13. Write a Pandas program to remove columns with too many missing values.
import pandas as pd

# Create a sample DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, None, 22],
    'Salary': [None, None, 70000]
})

# Remove columns with more than 50% missing values
df_cleaned = df.dropna(thresh=2, axis=1)

# Output the result
print(df_cleaned)

      Name   Age
0   Selena  25.0
1  Annabel   NaN
2    Caeso  22.0

In [54]:
# 14. Write a Pandas program to reorder columns in a DataFrame.
import pandas as pd

# Create a sample DataFrame with mixed column order
df = pd.DataFrame({
    'Age': [25, 30, 22],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Salary': [50000, 60000, 70000]
})

# Reorder columns to 'Name', 'Age', 'Salary'
df_reordered = df[['Name', 'Age', 'Salary']]

# Output the result
print(df_reordered)

      Name  Age  Salary
0   Selena   25   50000
1  Annabel   30   60000
2    Caeso   22   70000

In [55]:
# 15. Write a Pandas program to split a column into multiple columns.
import pandas as pd

# Create a sample DataFrame with combined data in one column
df = pd.DataFrame({
    'Full_Name': ['Artair Mpho', 'Pompiliu Ukko', 'Gerry Sigismund']
})

# Split the 'Full_Name' column into 'First_Name' and 'Last_Name'
df[['First_Name', 'Last_Name']] = df['Full_Name'].str.split(' ', expand=True)

# Output the result
print(df)

         Full_Name First_Name  Last_Name
0      Artair Mpho     Artair       Mpho
1    Pompiliu Ukko   Pompiliu       Ukko
2  Gerry Sigismund      Gerry  Sigismund

# **Pandas Joining and merging DataFrame**

In [56]:
# 1. Write a Pandas program to join the two given dataframes along rows and assign all data.
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [57]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print(student_data1)
print("-------------------------------------")
print(student_data2)
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [58]:
# 3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
# combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
# print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:

In [59]:
# 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
import pandas as pd
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("Original DataFrames:")
print(student_data1)
print("\nDictionary:")
print(s6)
# combined_data =  student_data1.append(dicts, ignore_index=True, sort=False)
print("\nCombined Data:")
# print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:

In [60]:
# 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
print(exam_data)

print("\nJoin first two said dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

print("\nNow join the said result_data and df_exam_data along student_id:")
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
print(final_merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12

Join first two said dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Now join the said result_data and df_exam_data along student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S4  Scarlette Fisher    201       67
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [61]:
# 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print("Merged data (inner join):")
print(merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
Merged data (inner join):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [62]:
# 7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='outer')
print("Merged data (outer join):")
print(merged_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201
Merged data (outer join):
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [63]:
# 8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data1, data2, how='left', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data2, data1, how='left', on=['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data (keys from data1):
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

Merged Data (keys from data2):
  key1 key2   R   S    P    Q
0   K0   K0  R0  S0   P0   Q0
1   K1   K0  R1  S1   P2   Q2
2   K1   K0  R2  S2   P2   Q2
3   K2   K0  R3  S3  NaN  NaN

In [64]:
# 9. Write a Pandas program to join two dataframes using keys from right dataframe only.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data2, data1, how='right', on=['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data (keys from data2):
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

Merged Data (keys from data1):
  key1 key2    R    S   P   Q
0   K0   K0   R0   S0  P0  Q0
1   K0   K1  NaN  NaN  P1  Q1
2   K1   K0   R1   S1  P2  Q2
3   K1   K0   R2   S2  P2  Q2
4   K2   K1  NaN  NaN  P3  Q3

In [65]:
# 10. Write a Pandas program to merge two given datasets using multiple join keys.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data:")
merged_data = pd.merge(data1, data2, on=['key1', 'key2'])
print(merged_data)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data:
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [66]:
# 11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.
import pandas as pd
s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name='col3')
df = pd.concat([s1, s2, s3], axis=1, keys=['column1', 'column2', 'column3'])
print(df)

   column1  column2  column3
0        0        0        0
1        1        1        1
2        2        2        4
3        3        3        5

In [67]:
# 12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (many-to-many join case):")
result = pd.merge(data1, data2, on='key1')
print(result)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merged Data (many-to-many join case):
  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

In [68]:
# 13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
import pandas as pd
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])

print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (Joining on index):")
result = data1.join(data2)
print(result)

Original DataFrames:
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
--------------------
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

Merged Data (Joining on index):
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [69]:
# 14. Write a Pandas program to merge two given dataframes with different columns.
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerge two dataframes with different columns:")
result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

Original DataFrames:
  key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
--------------------
  key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3

Merge two dataframes with different columns:
  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [70]:
# 15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
df1.combine_first(df2)
print("Original DataFrames:")
print(df1)
print("--------------------")
print(df2)
print("\nMerge two dataframes with different columns:")
result = df1.combine_first(df2)
print(result)

Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
--------------------
   A    B
0  1  3.0
1  1  NaN
2  3  3.0

Merge two dataframes with different columns:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0

# **Pandas Advanced Merging and Joining**

In [71]:
# 1. Write a Pandas program to merge two DataFrames on a single column.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})

# Merge the two DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID')

# Output the result
print(merged_df)

   ID     Name  Age
0   2  Annabel   25
1   3    Caeso   30

In [72]:
# 2. Write a Pandas program to perform an outer join on two DataFrames.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})

# Perform an outer join on the 'ID' column
outer_joined_df = pd.merge(df1, df2, on='ID', how='outer')

# Output the result
print(outer_joined_df)

   ID     Name   Age
0   1   Selena   NaN
1   2  Annabel  25.0
2   3    Caeso  30.0
3   4      NaN  22.0

In [73]:
# 3. Write a Pandas program that performs a left join of two DataFrames.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})

# Perform a left join on the 'ID' column
left_joined_df = pd.merge(df1, df2, on='ID', how='left')

# Output the result
print(left_joined_df)

   ID     Name   Age
0   1   Selena   NaN
1   2  Annabel  25.0
2   3    Caeso  30.0

In [74]:
# 4. Write a Pandas program that performs a right join of two DataFrames.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
    })

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})

# Perform a right join on the 'ID' column
right_joined_df = pd.merge(df1, df2, on='ID', how='right')

# Output the result
print(right_joined_df)

   ID     Name  Age
0   2  Annabel   25
1   3    Caeso   30
2   4      NaN   22

In [75]:
# 5. Write a Pandas program to merge two DataFrames on multiple columns.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, 30, 22]
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Salary': [50000, 60000, 70000]
})

# Merge the DataFrames on both 'ID' and 'Name' columns
merged_df = pd.merge(df1, df2, on=['ID', 'Name'])

# Output the result
print(merged_df)

   ID     Name  Age  Salary
0   1   Selena   25   50000
1   2  Annabel   30   60000
2   3    Caeso   22   70000

In [76]:
# 6. Write a Pandas program that merges DataFrames with overlapping column names.
import pandas as pd

# Create two sample DataFrames with overlapping column names
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Value': [100, 200, 300]
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Value': [400, 500, 600]
})

# Merge the DataFrames, adding suffixes to overlapping columns
merged_df = pd.merge(df1, df2, on=['ID', 'Name'], suffixes=('_left', '_right'))

# Output the result
print(merged_df)

   ID     Name  Value_left  Value_right
0   1   Selena         100          400
1   2  Annabel         200          500
2   3    Caeso         300          600

In [77]:
# 7. Write a Pandas program to merge two DataFrames on their indexes.
import pandas as pd

# Create two sample DataFrames with indexes
df1 = pd.DataFrame({
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, 30, 22]
}, index=[1, 2, 3])

df2 = pd.DataFrame({
    'Salary': [50000, 60000, 70000]
}, index=[1, 2, 3])

# Merge the DataFrames on their indexes
merged_df = pd.merge(df1, df2, left_index=True, right_index=True)

# Output the result
print(merged_df)

      Name  Age  Salary
1   Selena   25   50000
2  Annabel   30   60000
3    Caeso   22   70000

In [78]:
# 8. Write a Pandas program to merge different column names in DataFrames.
import pandas as pd

# Create two sample DataFrames with different join column names
df1 = pd.DataFrame({
    'Employee_ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Salary': [50000, 60000, 70000]
})

# Merge the DataFrames, specifying different column names for the join
merged_df = pd.merge(df1, df2, left_on='Employee_ID', right_on='ID')

# Output the result
print(merged_df)

   Employee_ID     Name  ID  Salary
0            1   Selena   1   50000
1            2  Annabel   2   60000
2            3    Caeso   3   70000

In [79]:
# 9. Write a Pandas program to merge DataFrames with duplicate Keys.
import pandas as pd

# Create two sample DataFrames with duplicate keys
df1 = pd.DataFrame({
    'ID': [1, 1, 2],
    'Name': ['Annabel', 'Annabel', 'Selena']
})

df2 = pd.DataFrame({
    'ID': [1, 2],
    'Age': [25, 30]
})

# Merge the DataFrames with duplicate keys
merged_df = pd.merge(df1, df2, on='ID')

# Output the result
print(merged_df)

   ID     Name  Age
0   1  Annabel   25
1   1  Annabel   25
2   2   Selena   30

In [80]:
# 10. Write a Pandas program to merge multiple DataFrames on a common column.
import pandas as pd

# Create three sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Age': [25, 30, 22]
})

df3 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Salary': [50000, 60000, 70000]
})

# Merge the three DataFrames on the 'ID' column
merged_df = pd.merge(pd.merge(df1, df2, on='ID'), df3, on='ID')

# Output the result
print(merged_df)

   ID     Name  Age  Salary
0   1   Selena   25   50000
1   2  Annabel   30   60000
2   3    Caeso   22   70000

In [81]:
# 11. Write a Pandas program to merge DataFrames using join() on Index.
import pandas as pd

# Create two sample DataFrames with indexes
df1 = pd.DataFrame({
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, 30, 22]
}, index=[1, 2, 3])

df2 = pd.DataFrame({
    'Salary': [50000, 60000, 70000]
}, index=[1, 2, 3])

# Perform a join on the indexes
joined_df = df1.join(df2)

# Output the result
print(joined_df)

      Name  Age  Salary
1   Selena   25   50000
2  Annabel   30   60000
3    Caeso   22   70000

In [82]:
# 12. Write a Pandas program to merge with custom indicator to track source.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})

# Merge the DataFrames with an indicator
merged_df = pd.merge(df1, df2, on='ID', how='outer', indicator=True)

# Output the result
print(merged_df)

   ID     Name   Age      _merge
0   1   Selena   NaN   left_only
1   2  Annabel  25.0        both
2   3    Caeso  30.0        both
3   4      NaN  22.0  right_only

In [83]:
# 13. Write a Pandas program to merge two DataFrames using multiple keys and specific join conditions.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Selena', 'Annabel', 'Charlie', 'Caeso'],
    'City': ['NY', 'LA', 'NY', 'LA']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4, 5],
    'Name': ['Annabel', 'Charlie', 'Caeso', 'Eve'],
    'City': ['LA', 'NY', 'LA', 'NY'],
    'Age': [30, 22, 25, 28]
})

# Merge the DataFrames on both 'ID' and 'City'
merged_df = pd.merge(df1, df2, on=['ID', 'City'], how='inner')

# Output the result
print(merged_df)

   ID   Name_x City   Name_y  Age
0   2  Annabel   LA  Annabel   30
1   3  Charlie   NY  Charlie   22
2   4    Caeso   LA    Caeso   25

In [84]:
# 14. Write a Pandas program to merge DataFrames using suffixes for overlapping columns.
import pandas as pd

# Create two sample DataFrames with overlapping column names
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [25, 30, 22]
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso'],
    'Age': [27, 31, 23]
})

# Merge the DataFrames, handling overlapping 'Age' column with suffixes
merged_df = pd.merge(df1, df2, on=['ID', 'Name'], suffixes=('_left', '_right'))

# Output the result
print(merged_df)

   ID     Name  Age_left  Age_right
0   1   Selena        25         27
1   2  Annabel        30         31
2   3    Caeso        22         23

In [85]:
# 15. Write a Pandas program to merge DataFrames with custom sorting.
import pandas as pd
# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 1],
    'Age': [30, 22, 25]
})

# Merge the DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID')

# Sort the result by 'Age' column
sorted_df = merged_df.sort_values(by='Age')

# Output the result
print(sorted_df)

   ID     Name  Age
2   3    Caeso   22
0   1   Selena   25
1   2  Annabel   30

In [86]:
# 16. Write a Pandas program to merge DataFrames and drop duplicates.
import pandas as pd

# Create two sample DataFrames with potential duplicates
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Annabel', 'Selena', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 1],
    'Name': ['Selena', 'Caeso', 'Annabel'],
    'Age': [30, 22, 25]
})

# Merge the DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on=['ID', 'Name'])

# Drop any duplicate rows from the merged DataFrame
merged_df_no_duplicates = merged_df.drop_duplicates()

# Output the result
print(merged_df_no_duplicates)

   ID     Name  Age
0   1  Annabel   25
1   2   Selena   30
2   3    Caeso   22

In [87]:
# 17. Write a Pandas program to merge DataFrames with missing data.
import pandas as pd

# Create two sample DataFrames with missing data
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [1, 3, 4],
    'Age': [25, 22, 28]
})

# Perform an outer merge to include all rows and handle missing data
merged_df = pd.merge(df1, df2, on='ID', how='outer')

# Fill missing values with 'Unknown' for Name and 0 for Age
merged_df['Name'].fillna('Unknown', inplace=True)
merged_df['Age'].fillna(0, inplace=True)

# Output the result
print(merged_df)

   ID     Name   Age
0   1   Selena  25.0
1   2  Annabel   0.0
2   3    Caeso  22.0
3   4  Unknown  28.0

<ipython-input-87-fc08988144e0>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Name'].fillna('Unknown', inplace=True)
<ipython-input-87-fc08988144e0>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Age'].fillna(0, inplace=True)

In [88]:
# 18. Write a Pandas program to merge DataFrames and rename columns after merge.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Salary': [50000, 60000, 70000]
})

# Merge the DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID')

# Rename the 'Salary' column to 'Annual_Income'
merged_df.rename(columns={'Salary': 'Annual_Income'}, inplace=True)

# Output the result
print(merged_df)

   ID     Name  Annual_Income
0   1   Selena          50000
1   2  Annabel          60000
2   3    Caeso          70000